<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Booking bot WebApp Demonstration</title>
</head>


<body style="background-color: #424549;">

<p>This is my lex bot in an iframe using Kommunicate's deployment cloud hosting system:</p>
<iframe
            style="border: none;"
            height="600px"
            width="400px"
            src="https://widget.kommunicate.io/chat?appId=7a4e27a1790dbd54e4959e8c771181da"
        >
</iframe>

<p>This is my lex bot in an iframe using AWS's CloudFormation:</p>
<iframe
            style="border: none;"
            height="600px"
            width="400px"
            src="https://dotd0c45f2gqp.cloudfront.net/index.html#/?lexWebUiEmbed=true"
        >
</iframe>

</body >



</html>